.card-resumo {
    margin-top: 2%;
}

mat-card-title {
    color: #B68115;
    font-size: 1.7vw;
    font-weight: bolder;
}


.resumo-item-header {
    -webkit-margin-after: 0;
    -webkit-margin-before: 15px;
    font-weight: bold;
}

.resumo-text-value {
    color: #B68115;
    text-align: right;
    font-weight: bold;
}

.resumo-text-patrimonio{    
    cursor: pointer !important;
}

.resumo-ganho-text {
    padding-left: 16px;
}

.mat-list .mat-list-item .mat-line:nth-child(n+2), .mat-nav-list .mat-list-item .mat-line:nth-child(n+2), .mat-selection-list .mat-list-item .mat-line:nth-child(n+2) {
    font-size: inherit;
}

.material-icons.mat32 {
    font-size: 32px !important;
    width: 36px !important;
    height: 36px !important;
}

.mat-icon-button{
    width: 24px;
    height: 24px;              
}

.material-icons.mat16 {
    font-size: 16px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0px !important;
    display: inline-flex !important;
    vertical-align: baseline !important;
}