mat-card-title {
  font-size: 1.3em;
  font-weight: bolder;
}

.card-resumo {
  border-radius: 0 !important;
  box-shadow: 0 -2px 0px 0px #1b3b6f !important;
}

.resumo-subtitle {
  margin-bottom: 0;
}

.resumo-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.resumo-item-header {
  -webkit-margin-after: 0;
  -webkit-margin-before: 15px;
  font-weight: bold;
}

.resumo-text-value {
  color: #2c2a7a;
  text-align: right;
  font-weight: bold;
}

.resumo-text-patrimonio {
  cursor: pointer !important;
}

.resumo-item-title {
  flex-wrap: wrap !important;
  line-height: 1.5;
  margin-bottom: 10px;
}

.link-tse {
  color: #2c2a7a;
  padding-left: 16px;
  padding-right: 0px;
}

.material-icons.mat-big {
  font-size: 48px !important;
  width: 50px !important;
  height: 50px !important;
}

.mat-big-money {
  color: #2c2a7a !important;
}

.detalhes-icon {
  font-size: 12px !important;
  width: 12px;
  height: 12px;
  margin-left: -5px;
}

.resumo-icon-patrimonio {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: calc(20%);
}

.resumo-icon-ganho {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: calc(10%);
}

.resumo-container-icon {
  display: block;
}

.mat-icon-button {
  width: 24px;
  height: 24px;
}

.material-icons.mat16 {
  font-size: 16px !important;
  width: 24px !important;
  height: 24px !important;
  vertical-align: baseline !important;
}

.item-resumo {
  display: block;
  padding-left: 16px;
}

.resumo-list ul {
  padding: 0;
  margin: 0;
}

.resumo-list ul li {
  list-style-type: none;
  display: flex;
  margin-top: 36px;
}

.foto-candidato {
  float: right;
  width: 20%;
  height: auto;
  position: relative;
  margin-left: 5%;
  z-index: 100;
  border: #b68115 1px solid;
}

.ganho-icon {
  color: #2c2a7a;
}
