<mat-card *ngIf="isCandidatoSelecionado" class="card-resumo">
  <img class="foto-candidato" width="100%" src={{urlFoto}}>
  <mat-card-title>{{ candidato.nome_urna }} ({{candidato.sigla_partido}})
  </mat-card-title>
  <mat-card-subtitle class="resumo-subtitle">{{ formataCargo(candidato.cargo_pleiteado_2) }} - {{ candidato.unidade_eleitoral
    }} </mat-card-subtitle>
  <mat-divider class="resumo-divider"></mat-divider>

  <div class="resumo-list">
    <ul>
      <li>
        <div class="resumo-container-icon">
          <a class="resumo-icon-patrimonio">
            <mat-icon class="mat-big mat-big-money" mat-list-icon>attach_money</mat-icon>
          </a>
        </div>
        <div class="item-resumo">
          <span class="resumo-item-title">Patrimônio</span>
          <br> {{ candidato.ano_um }}:
          <a class="resumo-text-value resumo-text-patrimonio" matTooltip="{{numberToReal(candidato.patrimonio_eleicao_1)}}">
            {{ utilsService.abreviaPatrimonio(numberToReal(candidato.patrimonio_eleicao_1)) }}
          </a>
          <a class="link-tse" mat-button href="{{urlBens1}}" target="_blank">
            Ver detalhes
            <mat-icon mat-list-icon aria-hidden="true" class="detalhes-icon">play_arrow</mat-icon>
          </a>
          <br> {{ candidato.ano_dois }}:
          <a class="resumo-text-value resumo-text-patrimonio" matTooltip="{{numberToReal(candidato.patrimonio_eleicao_2)}}">
            {{ utilsService.abreviaPatrimonio(numberToReal(candidato.patrimonio_eleicao_2)) }}
          </a>
          <a class="link-tse" mat-button href="{{urlBens2}}" target="_blank">
            Ver detalhes
            <mat-icon mat-list-icon aria-hidden="true" class="detalhes-icon">play_arrow</mat-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="resumo-container-icon">
          <a class="resumo-icon-ganho" *ngIf="crescimentoPatrimonio">
            <mat-icon class="mat-big ganho-icon" mat-list-icon>trending_up</mat-icon>
          </a>
          <a class="resumo-icon-ganho" *ngIf="reducaoPatrimonio">
            <mat-icon class="mat-big ganho-icon" mat-list-icon>trending_down</mat-icon>
          </a>
          <a class="resumo-icon-ganho" *ngIf="patrimonioEstavel">
            <mat-icon class="mat-big ganho-icon" mat-list-icon>trending_flat</mat-icon>
          </a>
        </div>
        <div class="item-resumo">
          <span class="resumo-item-title">Ganho</span>
          <br>
          <span>O patrimônio em {{ candidato.ano_dois }}
            <a class="resumo-text-value">{{ situacaoCrescimento }} </a> {{ fraseCrescimento }} {{candidato.ano_um }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</mat-card>