<mat-card class="about-card">
  <div class="about-container">
    <h1 class="about-title">SOBRE</h1>
    <p class="about-text">
      A cada eleição os candidatos precisam fornecer ao Tribunal Superior Eleitoral uma declação dos bens (casas, carros, jóias,
      dinheiro em espécie, etc) que possuem. Você já parou pra pensar
      <strong>Quais dessas pessoas públicas mais aumentaram ou diminuíram seu patrimônio?</strong> No
      <strong>{{ title }}</strong> você pode conferir essa e outras informações, inclusive comparar com outros candidatos a cargos
      semelhantes.

    </p>
    <p class="about-text">
      Os dados utilizados são integralmente do Tribunal Superior Eleitoral - <a href='http://www.tse.jus.br/' target='_blank'>TSE</a>.
      O <strong>projeto</strong>
      é uma parceria Laboratório Analytics da Universidade Federal de Campina Grande e o Ministério Público da Paraíba. </p>

      
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%">
      <div fxFlex="33%">
        <img class="logo" src="assets/img/logo-mppb.png" alt="Ministério Público do Estado da Paraíba">
      </div>
      <div fxFlex="33%">
        <img class="logo" src="assets/img/logo-analytics.svg" alt="Laboratório Analytics">
      </div>
      <div fxFlex="33%">
        <img class="logo" src="assets/img/logo-ufcg.jpg" alt="Universidade Federal de Campina Grande">
      </div>
    </div>


  </div>
