.about-card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0 !important;
    box-shadow: 0 0px 0px 0px !important;

}

.about-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.about-text {
    font-size: 16px;
    line-height: 2;
}

.about-title {
    text-align: center;
    margin-bottom: 5%;
}

.logo {
    width: 50%;
}

@media (max-width: 576px) {
    .about-card{
        margin-left: 2%;
        margin-right: 2%;
    }
}