<div>
  <p>
    A cada eleição os candidatos precisam fornecer ao Tribunal Superior Eleitoral uma declação dos bens (casas, carros, jóias,
    dinheiro em espécie, etc) que possuem. Você já parou pra pensar
    <strong>Quais dessas pessoas públicas mais aumentaram ou diminuíram seu patrimônio?</strong> No
    <strong>PatrimoniosApp</strong> você pode conferir essa e outras informações, inclusive comparar com outros candidatos a cargos
    semelhantes.

  </p>
  <p>
    Os dados utilizados são integralmente do Tribunal Superior Eleitoral - TSE (nome do tribunal é um link para o site). O <strong>projeto</strong>
    é uma parceria Laboratório Analytics da Universidade Federal de Campina Grande e o Ministério Público da Paraíba. </p>
</div>