<mat-card>
  <mat-table matSort #table [dataSource]="dataSource" matSortActive="dif-abs" matSortDirection="desc">

    <ng-container matColumnDef="nome_urna">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome_urna}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unidade_eleitoral">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Unid. Eleitoral</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unidade_eleitoral}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dif-abs">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Diferença</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ utilsService.formataReais(element.patrimonio_eleicao_2 - element.patrimonio_eleicao_1) }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [showFirstLastButtons]="true" [hidePageSize]="true">
  </mat-paginator>
</mat-card>