.card-top10 {
  border-radius: 0 !important;
  box-shadow: 0 -2px 0px 0px #1b3b6f !important;
}

.mat-table {
  overflow: auto;
}

.mat-cell,
.mat-header-cell {
  font-size: 12px;
  padding-right: 1%;
}

.mat-header-row,
.mat-row {
  padding: 0px !important;
}

.mat-expansion-panel-body {
  padding: 0; 
}

.top10-nomeUrna{
  text-decoration: underline;
  color: #1b3b6f;
  cursor: pointer;
  font-size: 1em;
}
.text-top10 {
  font-size: 1em;
}

.mat-sort-header-arrow {
  display: none !important;
}
