<mat-card *ngIf="isCandidatoSelecionado && candidato" class="card-resumo">
  <p>
    <span class="fact-text-value">{{ candidato.nome_urna}}</span>,
    <span class="fact-text-value">{{ infoCandidato.desc_Ocupacao | lowercase }} {{ defineIdade(infoCandidato.data_Nascimento) }}</span>, foi candidato
    em
    <span class="fact-text-value">{{ infoCandidato.desc_Unid_Eleitoral }}</span>.
    <!--
    cujo IDH é
    <span class="fact-text-value"> {{ idh.IDHM_2010 }}</span>.
    -->
  </p>
  <div [ngSwitch]="true">
    <p *ngSwitchCase="dadosEleicao.quantidade_candidatos > 1">
      Nesta mesma unidade eleitoral e cargo outros
      <span class="fact-text-value">{{ dadosEleicao.quantidade_candidatos }}</span>
      candidatos também declararam bens em
      <span class="fact-text-value">{{ candidato.ano_um }}</span> e
      <span class="fact-text-value">{{ candidato.ano_dois}}</span>, com uma média de patrimônio em
      <span class="fact-text-value">{{ candidato.ano_dois }}</span> de
      <span class="fact-text-value">{{ utilsService.abreviaPatrimonio(numberToReal(dadosEleicao.media_patrimonio)) }}</span>.
    </p>
    <p *ngSwitchCase="dadosEleicao.quantidade_candidatos === 1">
      Nesta mesma unidade eleitoral e cargo outro
      <span class="fact-text-value">{{ dadosEleicao.quantidade_candidatos }}</span>
      candidato também declararou bens em
      <span class="fact-text-value">{{ candidato.ano_um }}</span> e
      <span class="fact-text-value">{{ candidato.ano_dois}}</span>, com uma média de patrimônio em
      <span class="fact-text-value">{{ candidato.ano_dois }}</span> de
      <span class="fact-text-value">{{ utilsService.abreviaPatrimonio(numberToReal(dadosEleicao.media_patrimonio)) }}</span>.
    </p>
    <p *ngSwitchCase="dadosEleicao.quantidade_candidatos === 0">
      Nesta mesma unidade eleitoral e cargo nenhum outro candidato declararou bens em
      <span class="fact-text-value">{{ candidato.ano_um }}</span> e
      <span class="fact-text-value">{{ candidato.ano_dois}}</span>.
    </p>
  </div>
  <p>
    Em
    <span class="fact-text-value">{{ candidato.ano_um }}</span> foi
    <span class="fact-text-value">{{ candidato.situacao_eleicao_1 | lowercase }}</span> para
    <span class="fact-text-value">{{ formataCargo(candidato.cargo_pleiteado_1) }}</span>.
  </p>
  <p>
    Concorreu em
    <span class="fact-text-value">{{ candidato.ano_dois }}</span> a
    <span class="fact-text-value">{{ formataCargo(candidato.cargo_pleiteado_2) }}</span> e foi
    <span class="fact-text-value">{{ candidato.situacao_eleicao_2 | lowercase }}</span>.
  </p>
</mat-card>