.accept-button{
    float: right;
}
.no-data-title {
    font-weight: bold;
}

.no-data-div {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
}