.section-filter {    
    text-align: left;
    font-size: 1em; 
    line-height: 1em !important;   
}

.filter-card {
    padding-right: 0 !important;    
}

.filter {
    margin: auto;
    width: 15% !important;
    color: #5E400B;
}

.text-filter {
    margin: 0.5%;
    font-weight:normal;
    color: #5E400B;
}

.text-filter-comma {
    margin-right: 0.5%;
    font-weight:normal;
    color: #5E400B;
}

.text-filter-second-comma {
    font-weight:normal;
    color: #5E400B;
}

.button {
    background-color: #EEEEEE;    
}

.mat-select-value {
    color: #5E400B;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #5E400B;
}

.mat-option {
    color: #5E400B;    
}

.input {
    color: #5E400B;
}

.alt .mat-form-field-underline  {
    display: none;
}

.alt .mat-form-field {
    width: auto !important;
}

.alt .mat-form-field-infix {
    width: auto;
    border-top: 0 !important;
    padding-left: 2%;
    background-color: #ECEBE4;
}

.alt .mat-select-value {
    max-width: 100%;
    width: auto;
}

@media (max-width: 576px) {
    .section-filter {    
        text-align: left;
        font-size: .8em; 
        line-height: 1em !important;   
    }
}