<div class = "section-filter">
    <mat-form-field class = "filter">
        <mat-select placeholder="Estado" [ngModel]="estadoSelecionado" (ngModelChange)="onChangeEstado($event)">
          <mat-option *ngFor="let estado of listaEstados" [value]="estado.estado">
            {{ estado.estado }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class = "filter">
        <mat-select placeholder="Cargo" [ngModel]="cargoSelecionado" (ngModelChange)="onChangeCargo($event)">
          <mat-option *ngFor="let cargo of listaCargos" [value]="cargo.cargo_pleiteado_2">
            {{ cargo.cargo_pleiteado_2 }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class = "filter">
      <input type="text" placeholder="Unidade Eleitoral" aria-label="Number" matInput [formControl]="controlMunicipio" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let municipio of filteredOptions | async" [value]="municipio">
          {{ municipio }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

</div>
