.main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.mat-toolbar {
    flex: 0;
    background-color: #1B3B6F;
    color: #ECEBE4;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 4.5em;
}

.fill-remaining-space-navbar {
    flex: 1 1 auto;
}

.title {
    cursor: pointer !important;
    padding: 0 5%;
    margin-top: 2vw;
    margin-bottom: 1.1vw;
}

#title-text {
    font-family: Fjalla One;
    font-size: 2.7vw;
}

#navbar {
    height: 100%;
}

#subtitle {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.2vw;
    margin-top: 2%;
}

.button {
    background-color: transparent;
    font-size: 1.1vw;
}

.button-git {
    padding: 0;
    margin-right: 5%;
    font-size: 1.1vw;
}

.button:hover {
    background-color: transparent !important;
}