<div style="height: 100%">
  <mat-toolbar id="navbar">
    <div class="navbar-grid">
      <div class="title" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
        <div fxFlex="30%" class="logo-container">
          <img class="logo" id="title" src="assets/img/logo.png" alt="Capital dos Candidatos">
        </div>
        <div fxFlex="20%" id="subtitle">Quem ganhou e quem perdeu patrimônio entre os políticos?</div>
      </div>
      <div class="buttons">
        <div>
          <a mat-button class="button" (click)='openDialog()'>Sobre</a>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div class="main-container">
    <app-home></app-home>
  </div>


  <footer id="site-footer">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="left">
      <div fxFlex="10%" class="footer-img-container">
        <img class="footer-img" src="assets/img/MPPB.png">
      </div>
      <div fxFlex="20%" class="footer-content">
        <span class="title-text" routerLink="/"> {{ title }}</span>
        <br>
        <span id="info-text">
          <br/> Núcleo de Gestão do Conhecimento do GAECO/MPPB
          <br> Telefone: (83) 2107-6094
          <br> Email: ngcsi-mppb@googlegroups.com
        </span>
      </div>
      <div class="footer-content" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%">
        <a mat-button class="footer-button" (click)='openDialog()'>Sobre</a>  
        <div class="icons">
          <a class="icon-link" mat-icon-button href="https://pt-br.facebook.com/analytics.ufcg/" target="_blank">
            <mat-icon class="footer-icon" svgIcon="facebook"></mat-icon>
          </a>
        </div>
        <div class="icons">
          <a class="icon-link" mat-icon-button href="https://github.com/analytics-ufcg/empenhados-patrimonio-app" target="_blank">
            <mat-icon class="footer-icon" svgIcon="github"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>