.main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.mat-toolbar {
    flex: 0;
    background-color: #059CE3;
    color: #ffffff;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 4.5em;
}

.fill-remaining-space-navbar {
    flex: 1 1 auto;
}

.title {
    cursor: pointer !important;
    padding: 0 5%;
    margin-top: 1vw;
}

#title-text {
    font-family: Fjalla One;
    font-size: 2.5vw;
}

#subtitle {
    font-size: 12px;
}