/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@include mat-core();

$primary-color: (
  50: #5E400B,
  100: #5E400B,
  200: #5E400B,
  300: #5E400B,
  400: #5E400B,
  500: #5E400B,
  600: #5E400B,
  700: #5E400B,
  800: #5E400B,
  900: #5E400B,
  A100: #5E400B,
  A200: #5E400B,
  A400: #5E400B,
  A700: #5E400B,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$accent-color: (
  50: #B68115,
  100: #B68115,
  200: #B68115,
  300: #B68115,
  400: #B68115,
  500: #B68115,
  600: #B68115,
  700: #B68115,
  800: #B68115,
  900: #B68115,
  A100: #B68115,
  A200: #B68115,
  A400: #B68115,
  A700: #B68115,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$patrimonio-primary: mat-palette($primary-color);
$patrimonio-accent: mat-palette($accent-color);
$patrimonio-theme: mat-light-theme($patrimonio-primary, $patrimonio-accent);

@include angular-material-theme($patrimonio-theme);

body {
    margin: 0px;
}