

.plot {
    display: inline-block;
    margin: auto;
    width: 100%;
}

.d3-tip {
    line-height: 1;    
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;    
    text-align: right;
    font-family: 'Roboto';
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline-block;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
  
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.plot-subtitle {
    color: #888888;
    font-size: .8em;
    margin-bottom: 2%;
    -webkit-margin-before: -1em;
}

.slide-toogle {
    padding-left: 10px;
}

.slide-toogle-text {
    font-size: 12px;
}

.plot-container {
    margin-top: 2em;
}

.mat-slide-toggle-content {
    font-size: 12px;
}

.mat-card:not([class*=mat-elevation-z]) {
    border-radius: 0 !important;
    box-shadow: 0 -2px 0px 0px rgba(5, 156, 227) !important;
}