
.scatterplot-card {
    margin: none;
    margin-top: 1%;
    width: 60%;
    border-radius: 1%;
    display: inline-block;
}

.plot {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}