<div class="plot-container">
  <mat-form-field class="selector">
    <mat-select class="select-mode" [ngModel]="modeOption" (ngModelChange)="executaTransicao($event)">
      <mat-option class="select-mode-option" value="comparativo">Foco no total</mat-option>
      <mat-option class="select-mode-option" value="variacao">Foco na diferença</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="selector" floatLabel="never">
    <mat-select placeholder="Escala" [ngModel]="logOption" (ngModelChange)="onChangeEscala($event)">
      <mat-option value="natural">escala linear</mat-option>
      <mat-option value="log">escala log</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-name" floatLabel="never" color="accent">
    <input type="text" id="input-candidato" aria-label="Number" [(ngModel)]="nomeCandidato" (ngModelChange)="onChangeNomeCandidato($event)"
      matInput [formControl]="controlNomeCandidato" [matAutocomplete]="auto" placeholder="Pesquise um candidato">
    <button mat-button *ngIf="nomeCandidato" matSuffix mat-icon-button aria-label="Clear" (click)="nomeCandidato=''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button *ngIf="!nomeCandidato" matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete class="auto-complete" #auto="matAutocomplete">
      <mat-option *ngFor="let nome of filteredOptions | async" [value]="nome">
        {{ nome }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span>
    <button mat-button class="button-info" (click)='openReadme()'>
      <i class="material-icons" id="info-icon">help</i>
      <span class="text-info">COMO LER</span>
    </button>
  </span>
  <div class="section">
    <svg class="plot"></svg>
  </div>
</div>