<mat-card class="scatterplot-card">
  <h4 class="plot-title" *ngIf="cargo && ano">Variação no patrimônio dos candidatos a {{ formataCargo(cargo) }} -  {{ ano }} a {{ ano + 4 }}</h4>
  <p class="plot-subtitle">
    As observações acima da linha pontilhada indicam aumento de patrimônio. 
    Clique em um ponto para obter mais detalhes.
  </p>
  <div class="plot-container">
    <mat-slide-toggle [checked]="transitionToogle" (change)="executaTransicao($event)">
      <div class="slide-toogle-text" *ngIf="transitionToogle">
        Variação
      </div>
      <div class="slide-toogle-text" *ngIf="!transitionToogle">
        Comparativo
      </div>
    </mat-slide-toggle>
    <mat-slide-toggle class="slide-toogle" [checked]="logToogle" (change)="executaTransicaoLog($event)">Log10</mat-slide-toggle>
    <div class = "section">
      <svg class = "plot"></svg>
    </div>
  </div>
</mat-card>