<mat-card class="scatterplot-card">

  <h3 class="plot-title">Variação no patrimônio dos candidatos a {{ formataCargo(cargo) }}</h3>
  <p class="plot-subtitle" *ngIf="!transitionToogle">
    Veja a variação de patrimônio entre {{ ano }} e {{ ano + 4 }}. As observações acima da linha pontilhada indicam aumento de patrimônio. 
    Clique em um ponto para obter mais detalhes.
  </p>
  <p class="plot-subtitle" *ngIf="transitionToogle && ano">
      Veja a comparação entre patrimônio de {{ ano }} e de {{ ano + 4 }}. As observações acima da linha pontilhada indicam aumento de patrimônio.
      Clique em um ponto para obter mais detalhes.
    </p>
  <div>
    <mat-slide-toggle [checked]="transitionToogle" (change)="executaTransicao($event)">
      <div *ngIf="transitionToogle">
        Variação
      </div>
      <div *ngIf="!transitionToogle">
        Comparativo
      </div>
    </mat-slide-toggle>
    <mat-slide-toggle class="slide-toogle" [checked]="logToogle" (change)="executaTransicaoLog($event)">Log10</mat-slide-toggle>
    <div class = "section">
      <svg class = "plot"></svg>
    </div>
  </div>
</mat-card>